node_modules/
.env/
dist/
build/
**/.env
.env
.env.*


# env files
**/.env
**/.env.local
**/.env.*

# node
**/node_modules

# build
dist
build



# env files
**/.env
**/.env.*

# node modules
**/node_modules

# build
dist
build
